extends ../layout/main

append styles
	link(rel="stylesheet", href="./styles/video-observation.css")

block pageInfo
	-
		page = {
			activeLinkIndex: 4,
			menuPaths: ['./index.html', '#', '#', '#', '#']
		}

block content

	main.content(role="main")
		.videos-wrap
			.videos-wrap__video-container.videos-wrap__video-container--overflow-hidden
				video#video-1.videos-wrap__video(muted)
			.videos-wrap__video-container.videos-wrap__video-container--overflow-hidden
				video#video-2.videos-wrap__video(muted)
			.videos-wrap__video-container.videos-wrap__video-container--overflow-hidden
				video#video-3.videos-wrap__video(muted)
			.videos-wrap__video-container.videos-wrap__video-container--overflow-hidden
				video#video-4.videos-wrap__video(muted)

		.videos-wrap__video-settings.videos-wrap__video-settings--hidden
			button.videos-wrap__video-all-cameras Все камеры
			.videos-wrap__brightness-container
				p.videos-wrap__brightness-title Яркость:
				input.videos-wrap__brightness-input(type="range" value="20" min="3" max="60")
				p.videos-wrap__brightness-value-display 20
			.videos-wrap__brightness-container
				p.videos-wrap__contrast-title Контрастность:
				input.videos-wrap__contrast-input(type="range" value="20" min="3" max="60")
				p.videos-wrap__contrast-value-display 20

			.videos-wrap__audio-detector
				canvas.visualizer

block scripts
	script(src="https://cdn.jsdelivr.net/npm/hls.js@latest")
	script(src="./js/video-observation.js")