.videos-wrap {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(4, 450px);
	grid-gap: 20px;

	@media #{$m-from-mobile} {
		grid-template-rows: repeat(4, 300px);
	}

	@media #{$m-from-tablet} {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 450px 450px;
	}

	&__video-container {
		background-color: #000;
		display: flex;
		justify-content: center;
		transition: 0.4s all;

		&--overflow-hidden {
			overflow: hidden;
		}

		&--open {
			z-index: 10;
		}
	}

	&__video {
		max-width: 100%;
		max-height: 100%;
		display: block;
		object-fit: cover;
		transition: 0.4s all;
	}

	&__video-settings {
		position: fixed;
		bottom: 0;
		left: 0;
		padding: 20px;
		background-color: rgba(#000, 0.5);
		width: 100%;
		z-index: 11;
		display: flex;
		transition: 0.4s all;
		border-top: 1px solid #000;
		display: flex;
		align-items: center;
		color: #fff;

		&--hidden {
			transform: translateY(100%);
		}
	}

	&__brightness-container {
		display: flex;
		margin-right: 150px;
	}

	&__brightness-title {
		margin-right: 20px;
	}

	&__contrast-title {
		margin-right: 20px;
	}

	&__video-all-cameras {
		margin-right: 30px;
		border: none;
		border-radius: 8px;
		background-color: $c-button-yes;
		padding: 15px 20px;
		color: #fff;
		font-weight: bold;
		font-size: 18px;
		cursor: pointer;
		text-shadow: 1px 1px 3px rgba(#000, 0.4);
		height: 50px;
	}
}
